.hidden {
	visibility: hidden;
}
.main-page {
	background-color: #191e3f;
}
.main-header__title {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 77px;
	line-height: 1.15;
	letter-spacing: .02em;
	font-weight: normal;
	color: rgba(255,255,255,.8);
	text-align: center;
	margin-bottom: 0;
}
.mission__title {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 34px;
	line-height: 286px;
	letter-spacing: 0;
	font-weight: normal;
	color: rgba(255,255,255,.8);
	text-align: center;
	margin: 0;
	position: relative;
	width: 259px;
	height: 310px;
	transform: rotate(90deg);
	transform-origin: center center 0;
}
.mission__title:before {
	content: "01" ;
	font-family: Yantramanav, Arial, Helvetica, sans-serif;
	font-size: 286px;
	line-height: 1;
	letter-spacing: -.06;
	color: rgba(255,255,255,.01);
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(-90deg);
	transform-origin: center center 0;
}
.mission__text {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 19px;
	line-height: 1.15;
	color: rgba(255,255,255,.4);
	margin: 25px 0;
}
.mission__image {
	box-shadow: 0px 178px 152px 0px rgba(0, 0, 0, 0.45);
}
.projects__title {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 34px;
	line-height: 286px;
	letter-spacing: 0;
	font-weight: normal;
	color: rgba(255,255,255,.8);
	text-align: center;
	margin: 0;
	position: relative;
	width: 259px;
	height: 310px;
	transform: rotate(90deg);
	transform-origin: center center 0;
}
.projects__title:before {
	content: "02" ;
	font-family: Yantramanav, Arial, Helvetica, sans-serif;
	font-size: 286px;
	line-height: 1;
	letter-spacing: -.06;
	color: rgba(255,255,255,.01);
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(-90deg);
	transform-origin: center center 0;
}
.team__title {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 34px;
	line-height: 286px;
	letter-spacing: 0;
	font-weight: normal;
	color: rgba(255,255,255,.8);
	text-align: center;
	margin: 0;
	position: relative;
	width: 259px;
	height: 310px;
	transform: rotate(90deg);
	transform-origin: center center 0;
}
.team__title:before {
	content: "03" ;
	font-family: Yantramanav, Arial, Helvetica, sans-serif;
	font-size: 286px;
	line-height: 1;
	letter-spacing: -.06;
	color: rgba(255,255,255,.01);
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(-90deg);
	transform-origin: center center 0;
}
.gallery__name {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 38px;
	line-height: 1.15;
	font-weight: normal;
	color: rgba(255,255,255,.8);
	padding-top: 30px;
	margin: 15px 0;
	position: relative;
}
.gallery__name:before {
	content: "";
	height: 5px;
	width: 56px;
	background-color: rgba(255,255,255,.8);
	position: absolute;
	left: 0;
	top: 0;
}
.gallery__function {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 19px;
	line-height: 1.15;
	font-weight: normal;
	color: rgba(255,255,255,.5);
	margin: 0;
	margin-bottom: 45px;
}
.gallery__text {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.15;
	color: rgba(255,255,255,.6);
	margin: 20px 0;
}
.event__title {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 34px;
	line-height: 286px;
	letter-spacing: 0;
	font-weight: normal;
	color: rgba(255,255,255,.8);
	text-align: center;
	margin: 0;
	position: relative;
	width: 259px;
	height: 310px;
	transform: rotate(90deg);
	transform-origin: center center 0;
}
.event__title:before {
	content: "04" ;
	font-family: Yantramanav, Arial, Helvetica, sans-serif;
	font-size: 286px;
	line-height: 1;
	letter-spacing: -.06;
	color: rgba(255,255,255,.01);
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(-90deg);
	transform-origin: center center 0;
}
.event__heading {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 72px;
	line-height: 1.15;
	letter-spacing: -.02em;
	font-weight: normal;
	color: rgba(255,255,255,.8);
	margin: 0;
	margin-bottom: 55px;
}
.event__text {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 19px;
	line-height: 1.15;
	color: rgba(255,255,255,.6);
	margin: 20px 0;
}
.secondary-nav__link {
	display: block;
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 2.4;
	color: rgba(255,255,255,.6);
	text-decoration: underline;
}
.secondary-nav__link:hover {
	display: block;
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 2.4;
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
.copyright {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 2.4;
	color: rgba(255,255,255,.6);
}

